    .get-start-button {
      background-color: rgb(0, 109, 0);
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 100px;
      transition: transform 0.02s ease-in-out;
      transform-origin: center;
    }
    .get-start-button:hover {
      transform: scale(1.01);
      background-color: rgb(7, 84, 22);
      
    }

    .get-start-button:active {
      transform: scale(0.95);
    }

    .learn-link {
      text-decoration: none;
      color: rgb(31, 129, 242);
    }

    .learn-link:visited {
      color: none;
    }

    .learn-link:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .learn-link:active {
      color: green;
    }

    .buy-button {
      background-color: rgb(7, 96, 197);
      border: none;
      color: white;
      padding: 5px 12px;
      border-radius: 14px;
      cursor: pointer;
      font-weight: bold;
      transition: transform 0.02s ease-in-out;
      transform-origin: center;
      margin-bottom: 100px;
    }
    
    .buy-button:hover {
      cursor: pointer;
      background-color: rgb(10, 72, 131);
      transform: scale(1.01);
    }

    .buy-button:active {
      transform: scale(0.95);
    }

    .ch-link:link {
      color: rgb(16, 107, 197);
      text-decoration: none;
    }

    .ch-link:hover {
      text-decoration: underline;
      cursor: pointer;
    }